/* styles.css o el archivo CSS correspondiente */

.slide-back {
  width: 100%;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  position: auto;
  overflow: hidden;
}

.slide-back__image {
  width: 100%;
  height: 150%; /* Asegúrate de que cada imagen ocupe todo el contenedor */
  background-size: cover; /* Asegúrate de cubrir todo el área */
  background-position: center; /* Centra la imagen */
  display: flex;
  align-items: center; /* Centra el contenido verticalmente */
  justify-content: center; /* Centra el contenido horizontalmente */
  position: relative;
}

/* Estilo para el contenido del slide */
.slide-back__content {
  color: white; /* Color del texto */
  text-align: center; /* Centra el texto */
  font-size: 2rem; /* Tamaño grande para el texto */
  font-weight: bold; /* Hace que el texto sea más grueso */
  position: absolute;
  top: 60%; /* Centra verticalmente */
  left: 50%; /* Centra horizontalmente */
  transform: translate(-50%, -50%); /* Centra perfectamente el texto */
  z-index: 2; /* Asegúrate de que esté por encima de la imagen de fondo */
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); /* Sombra para mejor contraste */
}
/* Estilo para el ícono de ubicación */
.location-icon {
  color: #E53935; /* Rojo vibrante */
  font-size: 1.5rem; /* Ajusta el tamaño del ícono */
  margin-bottom: 10px; /* Añade espacio debajo del ícono */
}

/* Estilo para el botón de contacto */
.contact-button {
  background-color: #E53935; /* Color del botón */
  color: white; /* Color del texto del botón */
  padding: 15px 30px; /* Aumenta el tamaño del botón */
  font-size: 1.rem; /* Tamaño de fuente más grande */
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  display: inline-block;
  margin-top: 20px; /* Espaciado superior para separar el botón del texto */
}

.contact-button:hover {
  background-color: #c62828; /* Color más oscuro al pasar el mouse */
}
