.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #000;
    border-radius: 50%;
    padding: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
    z-index: 1000;  /* Agregar z-index alto */
}

.whatsapp-button:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.whatsapp-icon {
    width: 30px; 
    height: 30px; 
    filter: invert(100%);
}
