/* ServicesComponent.css */

.services-container {
  padding: 20px; /* Espaciado alrededor del contenedor */
  text-align: center; /* Centrar el texto en el contenedor */
}

.services-title {
  font-size: 2rem; /* Tamaño del título */
  color: #E53935; /* Color del título */
  margin-bottom: 20px; /* Espaciado debajo del título */
}

.services-list {
  display: flex; /* Usar flexbox para alinear los elementos */
  flex-wrap: wrap; /* Permitir que los elementos se ajusten */
  justify-content: center; /* Centrar los elementos en el contenedor */
}

.service-card {
  background-color: #fff; /* Fondo blanco para las tarjetas de servicio */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para profundidad */
  margin: 10px; /* Espaciado entre tarjetas */
  padding: 20px; /* Espaciado interno en las tarjetas */
  text-align: left; /* Alinear texto a la izquierda dentro de las tarjetas */
  flex: 1 1 200px; /* Permitir que las tarjetas se expandan y se contraigan */
}

.service-icon {
  font-size: 2rem; /* Tamaño de los iconos */
  color: #E53935; /* Color de los iconos */
  margin-bottom: 10px; /* Espaciado debajo del icono */
}

.service-title {
  font-size: 1.5rem; /* Tamaño del título del servicio */
  margin: 10px 0; /* Espaciado arriba y abajo */
}

.service-description {
  font-size: 1rem; /* Tamaño de la descripción */
  color: #666; /* Color gris para la descripción */
}
