/* ServicesComponent.css */
h1 {
  color: #E53935;
  font-weight: 700;
  margin: 20px 0; /* Espaciado superior e inferior */
  text-align: center; /* Centra el texto */
}

.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 40px;
    background-color: #f0f0f0;
  }
  
  .service-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }
  
  .service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.15);
  }
  
  .service-icon {
    font-size: 40px;
    color: #ff0000;
    margin-bottom: 15px;
  }
  
  .service-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .service-description {
    font-size: 14px;
    color: #666;
  }
  
  @media (max-width: 768px) {
    .services-container {
      padding: 20px;
    }
  
    .service-card {
      padding: 15px;
    }
  }
  