/* Estilos Generales */

h1, h2, h3, h4, h5, h6 {
  color: #E53935;
  font-weight: 700;
  margin: 0.5em 0;
  text-align: center;
}

p, span {
  color: #FFFFFF;
  line-height: 1.6;
}

/* === Responsive Design === */
@media (max-width: 768px) {
  .button-primary {
      width: 100%;
      padding: 14px;
  }
}
.MuiInputBase-input[aria-hidden="true"] {
  display: none !important;
}